//blocks
@import 'component/alert';
@import 'component/buttons';
@import 'component/form';
@import 'component/field';
@import 'component/accordion';
@import 'component/table';
@import 'component/modal';
@import 'component/modalForm';
@import 'component/checkbox';
@import 'layout/base';
@import 'layout/adminGrid';

//page admin
@import 'page/loginAdmin';
@import 'page/menageAdmin';
@import 'page/registerAdmin';
@import 'page/locationOperator';
@import 'page/route';
@import 'page/routsOrderAdd';
@import 'page/dashboardUser';
@import 'page/fleetUser';
@import 'page/dashboardManager';
@import 'page/dashboardAdmin';
@import 'page/profile';

//settings
@import 'settings/reset';
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/icons';

