//blocks
@import 'blocks/alert';
@import 'blocks/buttons';
@import 'blocks/form';
@import 'blocks/field';
@import 'blocks/select-wrapper';
@import 'blocks/modal';
//layout
@import 'layout/base';
@import 'layout/adminGrid';
@import 'layout/tableAdmin';

//page admin
@import 'page/loginAdmin';
@import 'page/menageAdmin';
@import 'page/registerAdmin';
@import 'page/locationOperator';
// page operator

//settings
@import 'settings/reset';
@import 'settings/colors';
@import 'settings/breakpoints';
@import 'settings/fonts';
@import 'settings/icons';

// utilities
@import 'utilities/mixins';
@import 'utilities/variables';

