//blocks
@import 'component/alert';
@import 'component/buttons';
@import 'component/form';
@import 'component/field';
@import 'component/accordion';
@import 'component/table';
@import 'component/modal';
@import 'component/modalForm';
//layout
@import 'layout/base';
@import 'layout/adminGrid';

//page admin
@import 'page/loginAdmin';
@import 'page/menageAdmin';
@import 'page/registerAdmin';
@import 'page/locationOperator';
@import 'page/route';
@import 'page/routsOrderAdd';
@import 'page/dashboardUser';
// page operator

//settings
@import 'settings/reset';
@import 'settings/colors';
@import 'settings/breakpoints';
@import 'settings/fonts';
@import 'settings/icons';

// utilities
@import 'utilities/mixins';
@import 'utilities/variables';

