.routs-order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__add--route {
        background-color: white;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-width: 350px;
        margin: 10px 15px;
    }

    &__table--route {
        margin: 10px 15px;
        height: fit-content;
    }
}

// @media (max-width: 768px) {
//     .route {
//         justify-content: center;

//         &__add--route {
//             width: 100%;
//         }

//         &__add--coste {
//             width: 100%;
//         }
//     }
// }