# Ustawienia bazy danych
#DB_HOST=
# Baza produkcyjna
#DB_NAME=
# Baza testowa
#DB_NAME=test_projekt
#DB_PORT=
#DB_USER=
#DB_PASS=

# Ustawienia smtp
# SMTP_HOST=
# SMTP_PORT=465 / 587
# SMTP_USER=
# SMTP_PWD_CRYPT=
# SMTP_TYP_CONECT=ssl / tls
# SMTP_USER_FROM=
# SMTP_FROM_NAME=

# SECRET_KEY_ENCRYPT= 'encryption phrase'
# SECRET_IV_ENCRYPT='initial vector'