.alert-login{
    position:absolute;;
    text-align: center;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    
    &--confirm{
        // color: var(--positive-hover);
        background-color: var(--positive);
        border: 1px solid var(--positive-hover);
    }

    &--error{
        // color: var(--negative-hover);
        background-color: var(--negative);
        border: 1px solid var(--negative-hover);
    }
}