.field{
    margin-bottom: 1.5rem;

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-family: "OpenSans_normal";
        color: #555;
      }
    
      &__input {
        width: 100%;
        padding: 0.75rem;
        border: 2px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        transition: border-color 0.3s ease;
    
        &:focus {
          border-color:  var(--primary-color);
          outline: none;
        }
      }
}