.select-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-family: "OpenSans_normal";
        color: #555;
      }

    &__select {
        width: 100%;
        padding: 10px 15px;
        border: 2px solid #333;
        border-radius: 8px;
        background-color: white;
        margin-bottom: 1.5rem;
        appearance: none; /* Ukrywa domyślną strzałkę */
        font-size: 1rem;
        font-family: "OpenSans_normal";
        color: #555;
        cursor: pointer;
        position: relative;
        
        &:focus {
          outline: none;
          border-color:  var(--primary-color);
        }
        
      }
      
      /* Style dla opcji select */
      &__select option {
        padding: 10px;
        color: #333;
        background-color: #fff;
      }
}