// light theme
$primary-color: #1A8D60;
$secondary-color: #FFFFFF;
// $background: #F4F6FA;
$background: #424650;

$negative: #EC8E6D;
$negative-hover: #b3502c;
$positive: #40A07A;
$positive-hover: #207a56;

$active: #D0E7DF;
$disabled: #f1f1f16a;

$table__1: #FFFFFF;
$table__2: #A9AFBE;

$text-primary: #2B314A;
$text-secondary: #2B314A;


:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --background: #{$background};
  --negative: #{$negative};
  --negative-hover: #{$negative-hover};
  --positive: #{$positive};
  --positive-hover: #{$positive-hover};
  --active: #{$active};
  --disabled: #{$disabled};
  --table__1: #{$table__1};
  --table__2: #{$table__2};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
}