// light theme
$primary-color: #1A8D60;
$secondary-color: #f9f9f9;
$background: #eaf2ed;
// $background: #424650;

$negative: #EC8E6D;
$negative-hover: #b3502c;
$positive: #40A07A;
$positive-hover: #207a56;

$active: #D0E7DF;
$inactive: #e7d9d0;
$disabled: #f1f1f16a;

$table__1: #FFFFFF;
$table__2: #A9AFBE;

$text-primary: #2B314A;
$text-secondary: #2B314A;


:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --background: #{$background};
  --negative: #{$negative};
  --negative-hover: #{$negative-hover};
  --positive: #{$positive};
  --positive-hover: #{$positive-hover};
  --active: #{$active};
  --inactive: #{$inactive};
  --disabled: #{$disabled};
  --table__1: #{$table__1};
  --table__2: #{$table__2};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --primary-color: #34985a;
//     --secondary-color: #2B2E38;
//     --background: #12141F;
//     --negative: #D9644A;
//     --negative-hover: #A84D29;
//     --positive: #388F5F;
//     --positive-hover: #2e9a37;
//     --active: #2E4C40;
//     --inactive: #3F4C52;
//     --disabled: #333C42;
//     --table__1: #22262E;
//     --table__2: #444B58;
//     --text-primary: #E5E8EC;
//     --text-secondary: #B0B5B9;
//   }
// }