@charset "UTF-8";
.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-family: "OpenSans_normal", sans-serif;
  z-index: 10;
}
.alert--confirm {
  background-color: var(--positive);
  border: 1px solid var(--positive-hover);
}
.alert--error {
  background-color: var(--negative);
  border: 1px solid var(--negative-hover);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.6rem 1rem;
  min-width: 120px;
  width: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: "OpenSans_normal";
  white-space: nowrap;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.button:hover {
  transform: scale(1.05);
}
.button:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.2);
}
.button--positive {
  color: white;
  background-color: var(--positive);
}
.button--positive:hover {
  background-color: var(--positive-hover);
}
.button--negative {
  color: white;
  background-color: var(--negative);
}
.button--negative:hover {
  background-color: var(--negative-hover);
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.field__label {
  font-size: 1rem;
  font-weight: 600;
  font-family: "OpenSans_normal", sans-serif;
  color: #444;
  transition: color 0.3s ease;
}
.field__input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-family: "OpenSans_normal", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.field__input:focus {
  border-color: var(--primary-color);
  outline: none;
}
.field__input::-moz-placeholder {
  color: #999;
  font-size: 0.95rem;
}
.field__input::placeholder {
  color: #999;
  font-size: 0.95rem;
}
.field--error .field__input {
  border-color: var(--negative);
  background-color: rgba(255, 0, 0, 0.05);
}
.field--error .field__label {
  color: var(--negative);
}

.accordion {
  min-width: 1000px;
  overflow-x: auto;
}
.accordion__title {
  color: var(--text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-weight: bold;
  border-bottom: 2px solid var(--table__2);
}
@media (max-width: 768px) {
  .accordion__title {
    flex-wrap: wrap;
    font-size: 14px;
  }
}
.accordion__header {
  color: var(--text-primary);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid var(--table__2);
  cursor: pointer;
  background-color: var(--disabled);
  transition: background 0.3s ease;
}
.accordion__header:hover {
  background-color: var(--active);
}
.accordion__cell {
  flex: 1;
  text-align: center;
  padding: 5px;
}
.accordion__toggle {
  flex: 0.1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.accordion__toggle.is-open {
  transform: rotate(180deg);
}
.accordion__content {
  display: none;
  padding: 10px;
  border-top: 1px solid var(--table__2);
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.accordion__content.is-open {
  display: block;
}
.accordion__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.accordion__table th,
.accordion__table td {
  padding: 10px;
  border-bottom: 1px solid var(--table__2);
}
.accordion__table th {
  background-color: var(--active);
}
.accordion__options {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.accordion__button {
  margin: 10px 20px;
}
.accordion__icon {
  background: none;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
  width: 27px;
  height: 27px;
  font-size: 17px;
  color: var(--positive);
  transition: 0.4s ease;
}
.accordion__icon:hover {
  color: var(--positive-hover);
  background-color: var(--active);
}

.user-panel {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  /* Stylizacja tabeli */
  /* Ikony akcji (edycja, usuwanie, podgląd) */
}
.user-panel__title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-primary);
}
.user-panel__table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px;
}
.user-panel__row:nth-child(even) {
  background-color: var(--disabled);
}
.user-panel__header {
  color: var(--text-primary);
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid var(--table__2);
}
.user-panel__header--status {
  text-align: center;
}
.user-panel__cell {
  padding: 10px;
  border-bottom: 1px solid var(--table__2);
}
.user-panel__cell--options {
  text-align: justify;
}
.user-panel__cell--active {
  color: var(--positive-hover);
  background-color: var(--active);
  font-weight: bold;
  text-align: center;
}
.user-panel__cell--new {
  text-align: center;
}
.user-panel__cell--block {
  color: var(--negative-hover);
  background-color: var(--inactive);
  font-weight: bold;
  text-align: center;
}
.user-panel__icon {
  background: none;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
  width: 27px;
  height: 27px;
  font-size: 17px;
  color: var(--positive);
  transition: 0.4s ease;
}
.user-panel__icon:hover {
  color: var(--positive-hover);
  background-color: var(--active);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal__content {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__content--large {
  max-width: 800px;
}
.modal__title {
  font-weight: 800;
  font-family: "Sora";
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}
.modal__message {
  font-weight: 400;
  font-family: "OpenSans_normal";
  font-size: 17px;
}
.modal__message--warning {
  font-size: 20px;
  color: var(--negative-hover);
  -webkit-text-decoration: underline var(--negative) 2px;
          text-decoration: underline var(--negative) 2px;
}
.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-form__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.modal-form__column {
  flex: 1 1 45%;
}
.modal-form__trio {
  flex: 1 1 30%;
}
.modal-form__full {
  flex: 1 1 100%;
}

.field-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: "OpenSans_normal", sans-serif;
  color: #444;
}
.field-checkbox__input {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #bbb;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  position: relative;
}
.field-checkbox__input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.field-checkbox__input:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.field-checkbox__input:focus-visible {
  outline: 2px solid rgba(0, 123, 255, 0.5);
  outline-offset: 2px;
}
.field-checkbox__label {
  cursor: pointer;
}

body {
  background-color: var(--background);
}

.topbar {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
  font-family: OpenSans_normal;
  font-weight: 300;
}
.topbar__logo {
  width: 150px;
}
.topbar__logo2 {
  display: none;
  width: 200px;
}
.topbar__user-info {
  font-size: 1rem;
  color: white;
}
.topbar__hamburger {
  display: none;
  cursor: pointer;
  padding: 5px;
  font-size: 33px;
  color: var(--secondary-color);
}
.topbar__bar {
  border-radius: 3px;
  margin: 4px 0;
  transition: 0.3s ease;
}
.topbar__bar:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.content {
  margin-left: 250px; /* Odsunięcie od sidebaru */
  padding: 2rem;
  font-family: OpenSans_normal;
  font-weight: 300;
}
.content__title {
  margin: 20px 0;
}
.content__controls {
  margin: 20px 0;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: var(--secondary-color);
  transform: translateX(0); /* Menu wysunięte domyślnie */
  transition: transform 0.3s ease;
  font-family: OpenSans_normal;
  font-weight: 600;
}
.sidebar__list {
  list-style: none;
  padding: 0;
}
.sidebar__item {
  margin: 1rem 0;
}
.sidebar__link {
  display: block;
  color: var(--text-primary);
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.4s ease;
}
.sidebar__link:hover {
  background-color: var(--active);
  color: var(--primary-color);
  border-left: solid 4px var(--primary-color);
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); /* Sidebar domyślnie ukryty na telefonach */
  }
  .sidebar--hidden {
    transform: translateX(0%); /* Ukrycie sidebaru dla urządzeń mobilnych */
  }
  .topbar {
    justify-content: space-between;
  }
  .topbar__hamburger {
    display: flex; /* Pokaż hamburger w górnym pasku */
  }
  .topbar__logo {
    display: none;
  }
  .topbar__logo2 {
    display: flex;
  }
  .content {
    margin-left: 0;
    padding: 2rem 1rem;
  }
  .menu-user__link1 {
    display: none;
  }
  .menu-user__link2 {
    display: block !important;
  }
}
.menu-user {
  /* Style dla pozycji dropdown */
}
.menu-user__list {
  list-style: none;
  display: flex;
}
.menu-user__item {
  position: relative;
}
.menu-user__link1 {
  color: white;
  max-width: 200px;
  min-width: 180px;
  text-align: right;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.menu-user__link1:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.menu-user__link2 {
  color: white;
  text-align: right;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  display: none;
}
.menu-user__link2:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.menu-user__item--dropdown:hover .menu-user__dropdown {
  display: block; /* Wyświetl dropdown po najechaniu */
}
.menu-user__dropdown {
  display: none; /* Domyślnie dropdown jest ukryty */
  position: absolute;
  top: 100%;
  right: 0; /* Wyświetla się poniżej pozycji głównej */
  background-color: var(--positive);
  list-style: none;
  max-width: 220px;
  min-width: 180px;
}
.menu-user__dropdown-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--secondary-color);
  text-align: right;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 14px;
}
.menu-user__dropdown-link:hover {
  background-color: var(--positive-hover);
}

.login-panel {
  max-width: 400px;
  margin: 20px auto;
  padding: 2rem;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  font-family: "OpenSans_normal";
}
.login-panel__img {
  display: block;
  width: 130px;
  margin: 0 auto;
}
.login-panel__title {
  margin-top: 30px;
  font-size: 1.7rem;
  text-align: center;
  color: var(--text-primary);
}
.login-panel__sub-title {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-primary);
}

.edit-modal__login {
  max-width: 500px;
}
.edit-modal__name {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.edit-modal__name-data {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.edit-modal__addres {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  flex-wrap: wrap;
}
.edit-modal__priv {
  justify-content: space-between;
  max-width: 500px;
  flex-wrap: wrap;
}
.edit-modal__coord {
  max-width: 500px;
}
.edit-modal__line {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  flex-wrap: wrap;
}
.edit-modal__column {
  justify-content: space-between;
  width: 45%;
  flex-wrap: wrap;
}

.register-admin {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.add-modal__name {
  max-width: 500px;
}
.add-modal__coord {
  max-width: 500px;
}
.add-modal__line {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  flex-wrap: wrap;
}

.route {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.route__add--route {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 10px 15px;
}
.route__add--coste {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 10px 15px;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 768px) {
  .route {
    justify-content: center;
  }
  .route__add--route {
    width: 100%;
  }
  .route__add--coste {
    width: 100%;
  }
}
.routs-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.routs-order__add--route {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 10px 15px;
}
.routs-order__table--route {
  margin: 10px 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.routs-order__message {
  font-weight: 400;
  font-family: "OpenSans_normal";
  font-size: 17px;
}

.routs-execution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.routs-execution__order {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 10px 15px;
}
.routs-execution__coste {
  margin: 10px 15px;
  height: -moz-fit-content;
  height: fit-content;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1A8D60;
  --secondary-color: #f9f9f9;
  --background: #eaf2ed;
  --negative: #EC8E6D;
  --negative-hover: #b3502c;
  --positive: #40A07A;
  --positive-hover: #207a56;
  --active: #D0E7DF;
  --inactive: #e7d9d0;
  --disabled: rgba(241, 241, 241, 0.4156862745);
  --table__1: #FFFFFF;
  --table__2: #A9AFBE;
  --text-primary: #2B314A;
  --text-secondary: #2B314A;
}

@font-face {
  font-family: "OpenSans_italic";
  src: url("/Public/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans_normal";
  src: url("/Public/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
}
@font-face {
  font-family: "Sora";
  src: url("/Public/fonts/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 800;
  font-style: normal;
}
@font-face {
  font-family: "fontello";
  src: url("/Public/fonts/icon/fontello/font/fontello.eot");
  src: url("/Public/fonts/icon/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("/Public/fonts/icon/fontello/font/fontello.woff2") format("woff2"), url("/Public/fonts/icon/fontello/font/fontello.woff") format("woff"), url("/Public/fonts/icon/fontello/font/fontello.ttf") format("truetype"), url("/Public/fonts/icon/fontello/font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76163240#fontello') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cancel:before {
  content: "\e800";
} /* '' */
.icon-ok:before {
  content: "\e801";
} /* '' */
.icon-info:before {
  content: "\f129";
} /* '' *//*# sourceMappingURL=main.css.map */